absl-py
altair
anyio
argon2-cffi
argon2-cffi-bindings
asgiref
astunparse
attrs
backcall
backports.zoneinfo
beautifulsoup4
bleach
blinker
blis
cached-property
cachetools
catalogue
certifi
cffi
charset-normalizer
click
cycler
cymem
Cython
debugpy
decorator
defusedxml
entrypoints
fastapi
fastjsonschema
filelock
flatbuffers
fonttools
gast
gensim
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h5py
hdbscan
hnswlib
huggingface-hub
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
keras
Keras-Preprocessing
kiwisolver
langcodes
libclang
llvmlite
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
mpld3
murmurhash
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
numba
numpy
oauthlib
opt-einsum
packaging
pandas
pandocfilters
parso
pathy
pexpect
pickleshare
Pillow
preshed
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pyarrow
pyasn1
pyasn1-modules
pycparser
pydantic
pydeck
Pygments
Pympler
pynndescent
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
PyYAML
pyzmq
regex
requests
requests-oauthlib
rsa
scikit-learn
scipy
seaborn
semver
Send2Trash
sentence-transformers
sentencepiece
six
smart-open
smmap
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
starlette
streamlit
terminado
thinc
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-hub
tensorflow-io-gcs-filesystem
tensorflow-text
termcolor
terminado
tf-estimator-nightly
threadpoolctl
tinycss2
tokenizers
toml
toolz
top2vec
torch
torchvision
tornado
tqdm
traitlets
transformers
typer
typing_extensions
tzdata
tzlocal
umap-learn
urllib3
uvicorn
validators
wasabi
watchdog
wcwidth
webencodings
Werkzeug
widgetsnbextension
wordcloud
wrapt
zipp
